
.header{
    height:130px;
    box-sizing: border-box;
    margin: 0 80px;
    display: flex;
    align-items: center;
}

 span{ 
    margin: auto 0 auto auto;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: lighter;
    color: #231f20;
}




@media only screen and (max-width: 992px) {
    .header{
        margin:0 40px;
    }
    img{
        
        width: 150px;
        left:40px;
    }

    span{
        font-size: 24px;
        top:56px;
        right:40px;
    }
}



