<div class='container'>

    <p-tabMenu styleClass='Menu' [model]="items" [activeItem]="items[0]" ></p-tabMenu>




<p-card header={{SDetails[0].Sname}} styleClass='statusCard'>
    <div class="cards">
        <table>
            <tr>
                <td class='th'>New MRR</td>
                <td class='td'>{{MRR[0]}}</td>
            </tr>
            <tr>
                <td class='th'>New Logos</td>
                <td class='td'>{{Logos[0]}}</td>
    
                
            </tr>
            <tr>
                <td class='th'>Demo Calls</td>
                <td class='td'>{{demo[0]}}</td>
               
            </tr>
    
        </table>
</div>
</p-card>

<p-card header={{SDetails[1].Sname}} styleClass='statusCard'>
    
    <div class="cards">
        <table>
            <tr>
                <td class='th'>New MRR</td>
                <td class='td'>{{MRR[1]}}</td>
            </tr>
            <tr>
                <td class='th'>New Logos</td>
                <td class='td'>{{Logos[1]}}</td>
    
                
            </tr>
            <tr>
                <td class='th'>Demo Calls</td>
                <td class='td'>{{demo[1]}}</td>
               
            </tr>
    
        </table>
    </div>

</p-card>

<p-card header={{SDetails[2].Sname}} styleClass='statusCard'>

    <div class="cards">
        <table>
            <tr>
                <td class='th'>New MRR</td>
                <td class='td'>{{MRR[2]}}</td>
            </tr>
            <tr>
                <td class='th'>New Logos</td>
                <td class='td'>{{Logos[2]}}</td>
    
                
            </tr>
            <tr>
                <td class='th'>Demo Calls</td>
                <td class='td'>{{demo[2]}}</td>
               
            </tr>
    
        </table>
    </div>

</p-card>
</div>

<!-- <p>New MRR  {{MRR[0]}}</p> 
<p>New Logos  {{Logos[0]}}</p> 
<p>Demo Calls  {{demo[0]}}</p>  -->

<!-- New MRR <span> {{MRR[0]}}</span><br>
    New Logos <span>{{Logos[0]}} </span><br>
    Demo Calls <span> {{demo[0]}} </span> -->