
.topbar{
    
    margin: 0 80px;
    
}

.container{
    display: flex;
    margin: 20px 80px;
}

.SalesAnalytics{
    
    flex-grow: 1;
    
    
}

.Salesman{
    flex-grow: 1;
    margin-left:40px;
}