
.topbar{
    
    margin: 0 80px;
    
}

:host ::ng-deep .Menu li {
    
    color: #2c3e50;
    opacity: 0.5;
   
}

:host ::ng-deep .Menu li:active {
    
    color:#2196f3;
    opacity: 1;
   
}



.container{
    display: flex;
    flex-direction: row;
    margin: 20px 80px;
}

.SalesAnalytics{
    
    flex-grow: 1;
    
    
}

.Salesman{
    flex-grow: 1;
    margin-left:40px;
}

@media only screen and (max-width: 1200px) {

    .topbar{
        margin: 0 40px;
    }
    .container{
        flex-direction: column;
        margin: 20px 40px;
        align-items: center;
    }
    
    :host ::ng-deep .Menu {
    
        font-size: 12px;
        
       
    }


}