.container{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
}

.funnel{
   
    max-width: 650px;
    position: relative;
    text-align: center;
    color: white;
   
}
.funnel img{
    max-width: 650px;
}

.first{
    position: absolute;
    top: 22px;
    left: 284px;
    font-size: 18px;
}

.second{
    position: absolute;
    top: 120px;
    left: 258px;
    font-size: 18px;
}

.third{
    position: absolute;
    top: 220px;
    left: 252px;
    font-size: 18px;
}

.fourth{
    position: absolute;
    top: 320px;
    left: 252px;
    font-size: 18px;
}

.fifth{
    position: absolute;
    top: 418px;
    left: 230px;
    font-size: 18px;
}

.sixth{
    position: absolute;
    top: 505px;
    left: 252px;
    font-weight: bold;
    font-size: 48px;
}

.nums{
    font-size: 48px;
    color: white;
}

:host ::ng-deep .card{
    margin: 2em 0;
    text-align:center;
    height:200px;
    width:300px;
    position:relative;

}
:host ::ng-deep .card img{
    position:absolute;
        top:30px;
        left:30px;
}
:host ::ng-deep .card p{
    position:absolute;
    bottom:10px;
    right:30px;
    text-align:right;
    font-size:18px;
    color:#2c3e50;
}

:host ::ng-deep .card span{
    
        font-size:48px;
        font-weight:bold;
        color:#2196f3
}

@media only screen and (max-width: 1200px) {

   
    .container{
        flex-direction: column;
        align-items: center;
        
    }

    .funnel{
        width: 450px;
       
    }
    .funnel img{
        width: 450px;
        margin-bottom: 50px;
    }

    .first,.second,.third,.fourth,.fifth,.sixth{
        font-size: 14px;
        left:180px;
    }

    div span{
        font-size: 28px;
    }

    .first{
        top:12px;
        left:204px;
    }
    .second{
        top:90px;
        
    }
    .third{
        top:160px;
    }
    .fourth{
        top:235px;
    }
    .fifth{
        top:305px;
        left:162px;
    }
    .sixth{
        top:382px;
        left:204px;
        font-size: 18px;
    }


}